<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
    <img width="300" alt="Angular Logo" src="http://localhost:1337/descargarArchivo/1" />
</div>

<label for="imagen" class="boton">Subir imagen</label>

<input id="imagen" type="file" name="imagen" hidden="true" placeholder="eleccionar archivo" (change)="seleccionarArchivo($event)" />
<h2>Nombre archivo: {{ archivo?.name }}</h2>
<button (click)="enviarArchivo()">Enviar archivo</button>
