/* You can add global styles to this file, and also import other style files */

input.ng-valid.ng-dirty {
    border: green solid 1px;
}

label+input.ng-ng-valid.ng-dirty {
    color: green
}

input.ng-invalid.ng-dirty {
    border: yellow solid 1px;
}

input.ng-invalid.ng-untpuched {
    border: orange;
}

label+input.ng-ng-invalid.ng-untouched {
    color: orange
}